@import "./varibles";
@mixin wrapper {
    width: $container;
    margin: 0 auto;
}

@mixin fonthide {
    font-size: 0;
    color: transparent;
}

@mixin hover($color:$gray,$hover:$main-color,$decoration:none){
	color: $color;
	&:hover{
		color:$hover;
		text-decoration: $decoration;
	}
}

@mixin button(){
	font-size: $font-big;
	color:$white;
	padding:14px 26px;
	line-height: 1;
	background:$main-color;
	border:0;
	margin:0;
	display: inline-block;
	text-decoration: none;
}

@mixin empty(){
	font-size:32px;
	color:$light;
	font-weight:bold;
	margin:140px auto;
	text-align: center;
}

@mixin screenHeight(){
	min-height:500px;
}